@media (min-width: 768px) {
    .elementor-25459 .elementor-element.elementor-element-e1e13e5 {
        --content-width: 1470px;
    }
}

@media (max-width: 1200px) {
    .elementor-25459 .elementor-element.elementor-element-e1e13e5 {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: 0px;
        --margin-bottom: 60px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 30px;
        --padding-bottom: 30px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
}
:root {
    --bzo-main-color: #1c5e06;
    --bzo-main-color-mix-black: rgba(14, 47, 3, 1);
    --bzo-main-color-mix-white: rgba(142, 175, 131, 1);
    --bzo-main-color-mix-white2: rgba(221, 231, 218, 1);
    --bzo-main-color-mix-white3: rgba(232, 239, 230, 1);
    --bzo-main-color2: #fb731e;
    --bzo-gray-color: #454545;
    --bzo-border-color: #d6d6d6;
    --bzo-body-background: #ffffff;
    --bzo-container-width: 1560px;
    --bzo-preload-background: #1c5e06;
    --bzo-gutter: 15px;
    --bzo-gutter-minus: -15px;
    --bzo-letter-spacing-body: 0.08px;
    --bzo-body_typo-font-family: Lato;
    --bzo-body_typo-google: 1;
    --bzo-body_typo-font-size: 16px;
    --bzo-body_typo-line-height: 1.5;
    --bzo-body_typo-color: #666666;
    --bzo-title_typo-font-family: Dosis;
    --bzo-title_typo-google: true;
    --bzo-title_typo-color: #121212;
}

.h3-box-programs:after {
    position: absolute;
    content: "";
    width: 53%;
    height: 100%;
    background-color: var(--bzo-main-color);
    top: 0;
    right: 0;
    z-index: 0;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.elementor img {
    border: none;
    border-radius: 10px;
    box-shadow: none;
    height: auto;
    max-width: 100%;
}

.adv-thumb-link > img {
    transition: all 0.3s ease-out 0s;
    -webkit-transition: all 0.3s ease-out 0s;
    width: 100%;
}

@media (max-width: 1200px) {
    .display-swiper-navi-group1 .bzotech-swiper-navi .swiper-button-nav {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        font-size: 28px;
    }
}

.display-swiper-navi-group1 .bzotech-swiper-navi .swiper-button-nav {
    position: unset;
}

.display-swiper-navi-group1 .bzotech-swiper-navi .swiper-button-nav {
    position: unset;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 80px;
    background-color: transparent;
    color: #999;
    border: none;
    transition: .2s;
    font-size: 36px;
    border: 2px solid #999;
}

